[user]
	name = david.shrader
	email = dshrader38@gmail.com 
[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.gitignore_global
[help]
	autocorrect = 1
[color]
	ui = true
[http]
	sslverify = false
[credential]
	helper = cache --timeout=3600
[alias]
	b = branch
	ba = branch -a
	bd = branch -d
	ci = commit
	co = checkout
	d = diff
	st = status
	lg = log --graph --decorate --pretty=oneline
[url "https://"]
	insteadOf = git://
